/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Custom Styling Starts Here */

/* My Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Variables */
:root {
    --primary-bg: #69C6BA;
    --secondary-bg: #C66995;
    --main-bg: #E6E6E6;
}
/* General Styles */
body {
    font-family: 'Noto Sans', sans-serif;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
input {
    font-family: 'Noto Sans', sans-serif;
}
textarea {
    font-family: 'Noto Sans', sans-serif;
}
/* Containers */
.container-70 {
    max-width: 70%;
    margin: 0 auto;
}
.container-60 {
    max-width: 60%;
    margin: 0 auto;
}
/* Flex */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.align-strech {
    align-items: stretch;
}
.wrap {
    flex-wrap: wrap;
}
.flex-10 {
    flex: 0 1 10%;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-25 {
    flex: 0 1 25%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-40 {
    flex: 0 1 40%;
}
.flex-48 {
    flex: 0 1 48%;
}
.flex-50 {
    flex: 0 1 50%;
}
.flex-100 {
    flex: 0 1 100%;
}
/* Text */
.text {
    font-size: 10px;
}
.text-bold {
    font-weight: 800;
}
/* Circle */
.circle {
    border-radius: 50%;
}
/* Headings */
h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin-top: 25px;
}
h2 {
    font-size: 22px;
    font-weight: 600;
    color: rgb(33, 33, 33);
}
h3  {
    font-size: 22px;
    font-weight: 400;
}
h4 {
    font-size: 14px;
    font-weight: 600;
}
/* Buttons */
.btn {
    background: none;
    border: none;
}
.primary-btn {
    background-color: var(--primary-bg);
    color: white;
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
}
.inverted-primary-btn {
    background-color: white;
    color: var(--primary-bg);
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
}
/* Header Styles Start*/
.header {
    padding: 20px 30px;
}
.brand-logo {
    width: 30%;
    margin-right: 5px;
}
.brand-name {
    font-size: 24px;
    font-weight: 800;
}
.header nav .text {
    color: black;
}
.header nav .home {
    font-size: 10px;
    color: var(--primary-bg);
}
/* Header Styles End */

/* Main Styles Start */
.main {
    background-color: var(--main-bg);
}
/* Hero Section */
.hero {
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(../media/banner.jpg);
    background-size: cover;
    padding: 50px;
}
.dots {
    width: 0.60%;
    margin: 10px;
}
.hero p {
    color: white;
    letter-spacing: 0.5px;
}
.hero .down {
    margin-top: 20px;
    width: 30px;
    height: 30px;
}
.hero form {
    width: 65%;
    margin-top: 60px;
    background-color: white;
    padding: 20px;
}
.hero input {
    margin: 10px;
    width: 90%;
    border: none;
    font-size: 10px;
    color: black;
}
.hero input:focus {
    outline: 0;
}
.hero input[type=number]::-webkit-inner-spin-button, 
.hero input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
.hero form ::placeholder {
    font-family: inherit;
    font-size: 10px;
    font-weight: 500;
}
.availability {
    margin-top: 25px;
}
.availability .btn {
    align-self: flex-end;
}
/* Journey Section */
.journey {
    background-color: rgb(239,239,239);
    padding: 30px;
    text-align: center;
}
.journey p {
    width: 65%;
    margin: 20px auto;
    line-height: 1.5;
}
.journey h2 strong {
    font-weight: 800;
    color: black;
}
/* Places Section */
.places {
    background-color: white;
    font-size: 0;
}
.places .next, .places .previous {
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 35px;
    height: 35px;
    position: absolute;
    font-size: 15px;
}
.places .europe .next, .places .europe .previous {
    right: 52.1%;
}
.places .europe .previous {
    margin-right: 37px;
}
.places .europe article{
    background-color: var(--primary-bg);
    color: white;
    padding: 30px;
    position: relative;
    left: -5%;
    z-index: 2;
    
}
.places article p {
    padding: 10px 0px;
    font-weight: 300;
    line-height: 1.5;
}
.places .asia article{
    background-color: var(--secondary-bg);
    color: white;
    padding: 30px;
    position: relative;
    right: -5%;
    z-index: 2;
    
}
.places .asia .inverted-primary-btn {
    color: var(--secondary-bg);
}
.places .asia .next, .places .asia .previous {
    left: 52.1%;
}
.places .asia .next {
    margin-left: 37px;
}
/* Continents Section */
.continents {
    background-color: white;
}
.continent-strip {
    background-color: var(--primary-bg);
}
.continent-strip figure {
    padding: 15px 30px 0 30px;
}
.continent-strip img {
    width: 75px;
    height: 75px;
}
.continents figcaption {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: white;
    padding-bottom: 15px;
}
.continent-strip .active {
    background-color: var(--secondary-bg);
}
.continents .container-70 {
    padding: 40px;
}
.price-container {
    padding: 40px 135px;

}
.price-tag {
    border: 1px solid rgba(0,0,0,0.1);
    height: 130px;
    justify-content: stretch;
    margin-bottom: 20px;
}
.price-tag .image {
    height: 100%;
}
.price-tag .image img {
    height: 100%;
}
.price-tag article {
    padding: 20px;
}
.price-tag article .city {
    color: var(--secondary-bg);
}
.price-tag article p {
    margin-top: 10px;
    line-height: 1.2;
    color: gray;
}
.price-tag .curve {
    background-color: var(--primary-bg);
    height: 100%;
}
.price-tag .curve img{
    height: 100%;
}
.price-tag .price {
    background-color: var(--primary-bg);
    color: white;
    padding: 10px;
}
.price p {
    padding: 5px 0px;
}
.price strong {
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.price-container .btn-holder {
    text-align: center;
}
/* Contact Section */
.contact {
    position: relative;
}
.map {
    position: relative;
}
.map iframe {
    width: 100%;
    height: 450px;
}
.map-overlay {
    background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) );
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.contact form {
    background-color: white;
    position: absolute;
    z-index: 3;
    top: 50px;
    right: 100px;
    padding: 20px;
}
.contact form input {
    border: none;
    padding: 5px;
    background-color: var(--main-bg);
    margin-bottom: 10px;
}
.contact form textarea {
    border: none;
    padding: 5px;
    background-color: var(--main-bg);
    margin-bottom: 10px;
}
.contact form .name input{
    max-width: 48% ;
}
/* Main Styles End */

/* Footer Style Start */
.footer {
    background-color: var(--primary-bg);
    color: white;
    text-align: center;
    padding: 25px;
}
/* Footer Style End */







/* Hovering Styles */